.light-theme {
  --light-bg-color: #27374D;
  --light-nav-color: #867070;
  background-color: #27374D;
}

.my-btns {
  background-color: #526D82;
  color: white;
}

.my-btns:hover{
  background-color: #9DB2BF; 
  color: black;
}

.my-nav {
  background-color: #526D82;
  color: white;
}

.my-nav .navbar-nav .nav-item .nav-link {
  color: #9DB2BF;
}

.my-nav .navbar-nav .nav-item .nav-link:hover,
.my-nav .navbar-nav .nav-item .nav-link:focus {
  color: white;
}

.my-text-area{
  background-color: #9DB2BF;
  color: black;
  border: 2px solid white;
}

.my-text-area:focus{
  background-color: #9DB2BF;
  color: black;
  border: 2px solid white;
  box-shadow: none;
  outline: none;
}

.my-heading{
  color: #DDE6ED;
}

.text-data{
  color: white;
}

.accordion-item .accordion-button {
  background-color: transparent; /* Remove the default background color */
  color: #000; /*Set the desired text color*/
}

.accordion-item .accordion-button:not(.collapsed) {
  color: #fff; /* Set the desired text color when the accordion is expanded */
  background-color: #27374D; /* Set the desired background color when the accordion is expanded */
}

.accordion-item{
  background-color: #9DB2BF;
}

.accordion-button{
  background-color: #27374D;
  border: 0px;
  color: white;
  border: 2px solid white;
}

.accordion-button:focus{
  background-color: #27374D;
  border: 0px;
  color: white;
  border: 2px solid white;
  outline: none;
  box-shadow: none;
}
