.read-btn{
  transition: all 0.3s;
}
.read-btn:hover{
  transform: scale(1.15);
}
.nav-link{
  transition: all 0.3s;
}

.nav-link:hover{
  transform: scale(1.05);
}

.badge{
  color: white;
  /* background-color: transparent; */
  font-size: small;
}

.card-title{
  font-size: large;
}

.card-text{
  font-size: small;
}